In [7]:
#to read a file
import pandas as pd
melbourne_file_path="C:\\Users\\Admin\\OneDrive\\Desktop\\Materials\\Pandas-DATAS\\house.csv"
melbourne_data=pd.read_csv(melbourne_file_path)
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [3]:
#to get particular values alone
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
# The Melbourne data has some missing values (some houses for which some variables weren't recorded.)
# We'll learn to handle missing values in a later tutorial.  
# Your Iowa data doesn't have missing values in the columns you use. 
# So we will take the simplest option for now, and drop houses from our data. 
# Don't worry about this much for now, though the code is:

# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)
print(melbourne_data)

             Suburb          Address  Rooms Type      Price Method  \
1        Abbotsford  25 Bloomburg St      2    h  1035000.0      S
2        Abbotsford     5 Charles St      3    h  1465000.0     SP
4        Abbotsford      55a Park St      4    h  1600000.0     VB
6        Abbotsford     124 Yarra St      3    h  1876000.0      S
7        Abbotsford    98 Charles St      2    h  1636000.0      S
...             ...              ...    ...  ...        ...    ...
12205    Whittlesea    30 Sherwin St      3    h   601000.0      S
12206  Williamstown      75 Cecil St      3    h  1050000.0     VB
12207  Williamstown    2/29 Dover Rd      1    u   385000.0     SP
12209       Windsor  201/152 Peel St      2    u   560000.0     PI
12212    Yarraville  54 Pentland Pde      6    h  2450000.0     VB

             SellerG        Date  Distance  Postcode  ...  Bathroom  Car  \
1             Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0
2             Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0
4             Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0
6             Nelson   7/05/2016       2.5    3067.0  ...       2.0  0.0
7             Nelson   8/10/2016       2.5    3067.0  ...       1.0  2.0
...              ...         ...       ...       ...  ...       ...  ...
12205            Ray  29/07/2017      35.5    3757.0  ...       2.0  1.0
12206       Williams  29/07/2017       6.8    3016.0  ...       1.0  0.0
12207       Williams  29/07/2017       6.8    3016.0  ...       1.0  1.0
12209  hockingstuart  29/07/2017       4.6    3181.0  ...       1.0  1.0
12212        Village  29/07/2017       6.3    3013.0  ...       3.0  2.0

       Landsize  BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
1         156.0         79.00     1900.0        Yarra -37.80790   144.99340
2         134.0        150.00     1900.0        Yarra -37.80930   144.99440
4         120.0        142.00     2014.0        Yarra -37.80720   144.99410
6         245.0        210.00     1910.0        Yarra -37.80240   144.99930
7         256.0        107.00     1890.0        Yarra -37.80600   144.99540
...         ...           ...        ...          ...       ...         ...
12205     972.0        149.00     1996.0   Whittlesea -37.51232   145.13282
12206     179.0        115.00     1890.0  Hobsons Bay -37.86558   144.90474
12207       0.0         35.64     1967.0  Hobsons Bay -37.85588   144.89936
12209       0.0         61.60     2012.0  Stonnington -37.85581   144.99025
12212    1087.0        388.50     1920.0  Maribyrnong -37.81038   144.89389

                  Regionname Propertycount
1      Northern Metropolitan        4019.0
2      Northern Metropolitan        4019.0
4      Northern Metropolitan        4019.0
6      Northern Metropolitan        4019.0
7      Northern Metropolitan        4019.0
...                      ...           ...
12205      Northern Victoria        2170.0
12206   Western Metropolitan        6380.0
12207   Western Metropolitan        6380.0
12209  Southern Metropolitan        4380.0
12212   Western Metropolitan        6543.0

[6196 rows x 21 columns]

In [ ]:
# There are many ways to select a subset of your data. The Pandas course covers these in more depth, but we will focus on two approaches for now.

# Dot notation, which we use to select the "prediction target"
# Selecting with a column list, which we use to select the "features"

In [6]:
# Selecting The Prediction Target
# You can pull out a variable with dot-notation. This single column is stored in a Series, which is broadly like a DataFrame with only a single column of data.

# We'll use the dot notation to select the column we want to predict, which is called the prediction target. By convention, the prediction target is called y. So the code we need to save the house prices in the Melbourne data is

y = melbourne_data.Price
print(y)

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [10]:
#The columns that are inputted into our model (and later used to make predictions) are called "features."
#we'll build a model with only a few features
#We select multiple features by providing a list of column names inside brackets. Each item in that list should be a string (with quotes).
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
#By convention, this data is called X.

X = melbourne_data[melbourne_features]
#Let's quickly review the data we'll be using to predict house prices using the describe method and the head method, which shows the top few rows.

X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [11]:

X.head()#prints the top  data

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [ ]:
# The steps to building and using a model are:

# Define: What type of model will it be? A decision tree? Some other type of model? Some other parameters of the model type are specified too.
# Fit: Capture patterns from provided data. This is the heart of modeling.
# Predict: Just what it sounds like
# Evaluate: Determine how accurate the model's predictions are.
# Here is an example of defining a decision tree model with scikit-learn and fitting it with the features and target variable.

In [12]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [ ]:
# Many machine learning models allow some randomness in model training. Specifying a number for random_state ensures you get the same results in each run. This is considered a good practice. You use any number, and model quality won't depend meaningfully on exactly what value you choose.

# We now have a fitted model that we can use to make predictions.

# In practice, you'll want to make predictions for new houses coming on the market rather than the houses we already have prices for. But we'll make predictions for the first few rows of the training data to see how the predict function works

In [13]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

# Exercises

In [ ]:
# Code you have previously used to load data
import pandas as pd

# Path of the file to read
iowa_file_path = '../input/home-data-for-ml-course/train.csv'

home_data = pd.read_csv(iowa_file_path)

# Set up code checking
from learntools.core import binder
binder.bind(globals())
from learntools.machine_learning.ex3 import *

print("Setup Complete")

## Step 1: Specify Prediction Target
Select the target variable, which corresponds to the sales price. Save this to a new variable called `y`. You'll need to print a list of the columns to find the name of the column you need.

In [ ]:
# print the list of columns in the dataset to find the name of the prediction target
home_data.columns
y = home_data.SalePrice

## Step 2: Create X
Now you will create a DataFrame called `X` holding the predictive features.

Since you want only some columns from the original data, you'll first create a list with the names of the columns you want in `X`.

You'll use just the following columns in the list (you can copy and paste the whole list to save some typing, though you'll still need to add quotes):
    * LotArea
    * YearBuilt
    * 1stFlrSF
    * 2ndFlrSF
    * FullBath
    * BedroomAbvGr
    * TotRmsAbvGrd

After you've created that list of features, use it to create the DataFrame that you'll use to fit the model.

In [ ]:
# Create the list of features below
feature_names = ['LotArea','YearBuilt','1stFlrSF','2ndFlrSF', 'FullBath','BedroomAbvGr' , 'TotRmsAbvGrd']


# Select data corresponding to features in feature_names
X = home_data[feature_names]

## Review Data
Before building a model, take a quick look at **X** to verify it looks sensible

In [ ]:
# Review data
# print description or statistics from X
#print(_)
X.describe()

# print the top few lines
#print(_)
X.head()

## Step 3: Specify and Fit Model
Create a `DecisionTreeRegressor` and save it iowa_model. Ensure you've done the relevant import from sklearn to run this command.

Then fit the model you just created using the data in `X` and `y` that you saved above.

In [ ]:
# from _ import _
from sklearn.tree import DecisionTreeRegressor
#specify the model. 
#For model reproducibility, set a numeric value for random_state when specifying the model
iowa_model = DecisionTreeRegressor(random_state=1)

# Fit the model
iowa_model.fit(X,y)

## Step 4: Make Predictions
Make predictions with the model's `predict` command using `X` as the data. Save the results to a variable called `predictions`.

In [ ]:
predictions = (iowa_model.predict(X))
print(predictions)